<section class="login-page">
        <div class="left-container">
            <h1>Sua nova solução de relatórios chegou!</h1>
        </div>
        <div class="right-container">
            <img src="../../../assets/images/iconizer-VitaeSangueLogo.svg" alt="">
            <h1>VitaeSangue</h1>
            <h2>Seja bem-vindo!</h2>
            <p>Insira seus dados abaixo ou crie uma conta</p>
            <form action="">
                <p-floatLabel>
                    <label for="email">E-mail</label>
                    <input pInputText id="email" name="email" type="email" [(ngModel)]="email" required/>
                </p-floatLabel>
                <p-floatLabel>
                    <label for="senha">Senha</label>
                    <p-password [(ngModel)]="senha" 
                                [toggleMask]="true" 
                                [feedback]="false"
                                name="senha"
                                id="senha"
                                styleClass="p-password p-component p-inputwrapper p-input-icon-right" />
                    <a href="">Esqueceu sua senha?</a>
                </p-floatLabel> 
                <button type="submit" pButton label="Entrar" (click)="onLogin()">Entrar</button>
                <p>--ou--</p>
                <button type="button" routerLink="/register">Crie uma conta</button>
            </form>  
        </div>
</section>
