@import '../../../variables.scss';

$fs-400: 1rem;
$fs-500: 1.25rem;
$fs-600: 1.5rem;
$fs-xl: clamp(2rem, 5vw + 1rem, 4rem);

::ng-deep .login-page {
  background-color: $off-white;
  display: flex;
  align-items: center;
  height: 100vh;
  transition: all 0.3s ease;

  &.registering .left-container {
    width: 0%;
    transition: width 0.5s ease-in-out;
  }

  &.registering .right-container {
    width: 100%;
    transition: width 0.5s ease-in-out;
  }

  .left-container {
    height: 100%;
    background-image: url(../../../assets/images/hospitalBlurBg.jpg);
    background-size: cover;
    background-position: center;
    color: $primary-color;
    display: flex;
    width: 50%;
    padding: 8px;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: $fs-xl;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .right-container {
    color: $primary-color;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease-in-out;

    img {
      width: 20%;
      min-width: 15%;
    }

    h1 {
      margin: 0;
      font-size: clamp(2rem, 2.5vw + 1rem, 3rem);
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    }

    h2 {
      margin: 0;
      font-size: clamp(1rem, 2.5vw + 1rem, 2rem);
    }

    p {
      font-size: clamp(.8rem, 2.5vw, .9rem);
      color: #620000cb;
    }

    form {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;  
      align-items: center;

      p-floatLabel {
        width: 100%;
        margin-bottom: 20px;

        .p-float-label {
          display: flex;
          flex-direction: column;
        }

        input {
          padding: 10px;
          border: 1px solid $primary-color;
          border-radius: 8px;
        }

        label {
          font-size: 0.875rem;
          font-weight: 500;
          color: $primary-color;
        }

        a {
          color: rgba(0, 0, 0, 0.842);
          margin-left: auto;
          font-size: 0.875rem;
          transition: all 0.3s ease;

          &:hover {
            color: black;
          }
        }

        p-password {
          width: 100%;
          display: block;

          .p-component {
            width: 100%;

            input {
              width: 100%;
              padding: 10px;
              border: 1px solid $primary-color;
              border-radius: 8px;
            }

            eyeicon,
            eyeslashicon {
              height: 100%;
              right: 10px;
              position: absolute;
              align-items: center;
              display: flex;
            }
          }
        }
      }

      button {
        width: 100%;
        height: 37px;
        color: $off-white;
        border: 1px solid black;
        background-color: $primary-color;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: $tertiary-color;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  ::ng-deep .login-page {
    flex-direction: column;

    .left-container,
    .right-container {
      width: 100%;
    }

    .left-container {
      height: 50vh;
    }

    .right-container {
      form {
        width: 50%;
      }
    }
  }
}

@media (max-width: 480px) {
  ::ng-deep .login-page {
    .left-container {
      height: 40vh;
    }

    .right-container {
      img {
        width: 30%;
      }

      form {
        width: 90%;
      }
    }
  }
}