@import '../../../variables.scss';

::ng-deep .p-dialog {
  background-color: $off-white;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid $primary-color;

  .detail-row {
    margin: 4px 0;
    display: flex;
    gap: .5rem;
  }

  .contract-details {
    p {
      margin: 0.5rem 0;
      font-size: 1rem;

      strong {
        display: inline-block;
        width: 120px;
        color: #000000;
      }
    }
  }
}