@import '../../../variables.scss';

$fs-200: .5rem;
$fs-300: .75rem;
$fs-400: 1rem;
$fs-500: 1.25rem;
$fs-600: 1.5rem;
$fs-xl: clamp(2rem, 5vw + 1rem, 4rem);

::ng-deep header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    min-height: 90px;
    padding: 1vh 2vh;
    position: sticky;
    background-color: $primary-color;

    .logo-img {
        width: 30%;
        min-width: 144px;
        display: flex;
        align-items: center;

        img {
            width: 20%;
            max-width: 60px;
        }

        h1 {
            font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
            color: $off-white;
            margin: 0;
        }
    }

    .profile-area {
        display: flex;
        width: 144px;
        flex-direction: row;
        align-items: center;
        transition: all .3s ease;
        padding: 4px;

        &:hover {
            background-color: $secondary-color;
            border-radius: 30px;
            cursor: pointer;
        }

        i {
            color: $off-white;
            font-size: $fs-400;
            margin-right: 5%;
        }

        p-avatar {
            height: min-content;
            margin-right: 5%;

            .p-avatar-circle {
                background-color: $off-white;
            }
        }

        .profile-area-text {
            color: $off-white;

            h2{
                font-size: $fs-400;
                margin: 0;
            }

            p {
                font-size: $fs-300;
                margin: 0;
            }
        }
    }
}

@media (max-width: 480px) {
    ::ng-deep header {

        .profile-area {
            width: 50px;
        }

        .profile-area-text {
            display: none;

        }
    }
}