<app-header></app-header>
<section class="home-page-container">
    <div class="welcome-label">
        <h1>Seja bem-vindo, <span>{{ user.name }}</span></h1>
        <p>Contratos, requisições e envios de bolsas.</p>
    </div>
    <div class="pending-cards-container">
        <div class="pending-card-item" *ngFor="let cardItem of cardItems" (click)="onCardClick(cardItem.title)"  [class.selected]="selectedCard === cardItem.title">
            <img src={{cardItem.image}} alt="">
            <div class="pending-card-item-text">
                <h2>{{cardItem.title}}</h2>
                <p>👆Clique para visualizar {{ cardItem.pPhrase }}</p>
                <button type="button" routerLink="{{ cardItem.link }}">Crie um(a) {{ cardItem.createButtonTitle }}</button>
            </div>
        </div>
    </div>
    <div class="content-table">
        <p-table [value]="tableData" [columns]="tableColumns" [tableStyle]="{ 'min-width': '70rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of tableColumns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td *ngFor="let col of tableColumns">
                        <ng-container *ngIf="col.field === 'status'">
                            <span [class]="'status-badge ' + rowData[col.field].toLowerCase()">
                                {{rowData[col.field]}}
                            </span>
                        </ng-container>
                        <ng-container *ngIf="col.field !== 'status'">
                            {{rowData[col.field]}}
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>