@import '../../../variables.scss';

.home-page-container {

    .welcome-label {
        padding: 1.5rem 3rem;
        h1 {
            font-size: 3rem;
            font-weight: 700;
            margin: 0;

            span {
                color: $primary-color;
            }
        }
    }

    .pending-cards-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem 3rem;

        .pending-card-item {
            background-color: $primary-color;
            border-radius: 12px;
            display: flex;
            width: 33%;
            transition: all 0.3s ease;
            cursor: pointer;

            &.selected {
              transform: translateY(-10px);
              border: 2px solid ;
            }

            &:hover {
                background-color: $secondary-color;
            }

            img {
                width: 20%;
                margin-right: 1%;
                border-radius: 12px 0 0 12px;
            }

            .pending-card-item-text {
                color: $off-white;

                h2 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }

    ::ng-deep .content-table {
        margin-top: 20px;
        padding: 0 3rem;

        .status-badge {
          padding: 0.25rem 0.5rem;
          border-radius: 4px;
          font-size: 0.8rem;
          
          &.pendente {
            background-color: #fff3cd;
            color: #856404;
          }
          
          &.aprovada {
            background-color: #d4edda;
            color: #155724;
          }
          
          &.recusada {
            background-color: #f8d7da;
            color: #721c24;
          }
        }
      
        p-table {

          .p-datatable-table {
            background-color: $primary-color;
            border-radius: 12px;
            padding: 0 8px;
          }
      
          th, td {
            color: $off-white;
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid $secondary-color;
          }
      
          th {
            font-weight: bold;
          }
      
          tbody tr:hover {
            background-color: $secondary-color;
          }
        }
      }

}