<div class="form-container">
  <div class="grid">
    <div class="step-navigation">
      <div class="logo">
        <button routerLink="/home" class="back-home-btn">
          <i class="pi pi-arrow-left"></i>
          Voltar para Home
        </button>
        <img src="../../../assets/images/iconizer-VitaeSangueLogo.svg" alt="VitaeSangue">
      </div>

      <h3>Formulário de Requisição</h3>

      <ul class="step-list">
        @for (step of steps; track step.label; let i = $index) {
        <li [class.active]="i === currentStep" [class.completed]="step.completed" (click)="goToStep(i)">
          <i class="{{step.icon}}"></i>
          <span>{{step.label}}</span>
        </li>
        }
      </ul>
    </div>

    <div class="form-content">
      <h2>{{ steps[currentStep].label }}</h2>
    
      <form [formGroup]="formGroup">
        @if (currentStep === 0) {
          <div formGroupName="dadosHemocentro" class="form-fields">
            <div class="p-field">
              <label for="hemocentro">Hemocentro requerido</label>
              <p-dropdown id="hemocentro" formControlName="hemocentro" [options]="hemocentros"
                optionLabel="estabelecimento.nome" placeholder="Selecione o tipo" [showClear]="true">
                <ng-template pTemplate="empty">Nenhum hemocentro encontrado</ng-template>
              </p-dropdown>
              @if (formGroup.get('dadosHemocentro.hemocentro')?.invalid && formGroup.get('dadosHemocentro.hemocentro')?.touched) {
                <small>Selecione um hemocentro.</small>
              }
            </div>
          </div>
        }
    
        @if (currentStep === 1) {
          <div formGroupName="dadosRequisicao" class="form-fields">
            <div formArrayName="bolsas">
              @for (bolsa of bolsas.controls; track bolsa; let i = $index) {
                <div [formGroupName]="i" class="bolsa-form">
                  <div class="field">
                    <label for="hemocomponente">Hemocomponente</label>
                    <p-dropdown id="hemocomponente" formControlName="hemocomponente" [options]="hemocomponentes"
                      placeholder="Selecione o hemocomponente"></p-dropdown>
                    @if (bolsa.get('hemocomponente')?.invalid && bolsa.get('hemocomponente')?.touched) {
                      <small>Selecione um hemocomponente.</small>
                    }
                  </div>
                  <div class="field">
                    <label for="abo">Tipo Sanguíneo (ABO)</label>
                    <p-dropdown id="abo" formControlName="abo" [options]="tiposAbo"
                      placeholder="Selecione o tipo sanguíneo"></p-dropdown>
                    @if (bolsa.get('abo')?.invalid && bolsa.get('abo')?.touched) {
                      <small>Selecione o tipo sanguíneo.</small>
                    }
                  </div>
                  <div class="field">
                    <label for="rh">Fator RH</label>
                    <p-dropdown id="rh" formControlName="rh" [options]="fatoresRh"
                      placeholder="Selecione o fator RH"></p-dropdown>
                    @if (bolsa.get('rh')?.invalid && bolsa.get('rh')?.touched) {
                      <small>Selecione o fator RH.</small>
                    }
                  </div>
                  <div class="field">
                    <label for="qtdRequirida">Quantidade Requerida</label>
                    <p-inputNumber id="qtdRequirida" formControlName="qtdRequirida"></p-inputNumber>
                    @if (bolsa.get('qtdRequirida')?.invalid && bolsa.get('qtdRequirida')?.touched) {
                      <small>Insira a quantidade requerida.</small>
                    }
                  </div>
                  @if (bolsas.length > 1) {
                    <button pButton type="button" label="Remover Bolsa" class="p-button-outlined p-button-danger"
                      (click)="removeBolsa(i)"></button>
                  }
                </div>
              }
            </div>
            <button pButton type="button" label="Adicionar Bolsa" class="p-button-outlined p-button-success"
              (click)="addBolsa()"></button>
          </div>
        }
    
        <div class="button-container">
          @if (currentStep > 0) {
            <button pButton label="Voltar" class="p-button-outlined p-button-danger mr-2" (click)="previousStep()"></button>
          }
          <button pButton [label]="currentStep === steps.length - 1 ? 'Finalizar' : 'Confirmar e avançar'"
            class="p-button-danger" (click)="nextStep()" [disabled]="!isStepValid(currentStep)"></button>
        </div>
      </form>
    </div>
  </div>
</div>