<section class="register-user-page">
    <div class="register-user-container">
      <img src="assets/images/iconizer-VitaeSangueLogo.svg" alt="VitaeSangue Logo">
      <h1>Gerenciamento de Usuários - <span>VitaeSangue</span></h1>
      <h2>Formulário de Alteração de Senha</h2>
      <h3>Insira as informações requeridas abaixo</h3>
  
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-grid">
          <h4>Alterando senha para: {{ usuario.nome }}</h4>
          <div class="p-field">
            <label for="senha">Senha</label>
            <input pInputText id="senha" formControlName="senha" type="password" placeholder="Sua senha" />
            <small class="p-error" *ngIf="registerForm.get('senha')?.invalid && registerForm.get('senha')?.touched">
              A senha é obrigatória e deve ter no mínimo 6 caracteres
            </small>
          </div>
  
          <div class="p-field">
            <label for="confirmarSenha">Confirme sua senha</label>
            <input pInputText id="confirmarSenha" formControlName="confirmarSenha" type="password" placeholder="Confirme sua senha" />
            <small class="p-error" *ngIf="registerForm.errors?.['senhasDiferentes']">
                As senhas devem coincidir
              </small>
          </div>
  
        </div>
        
        <div class="button-container">
          <button pButton type="button" label="Voltar" routerLink="/home">Voltar</button>
          <button pButton type="submit" label="Registre-se">Alterar Senha</button>
        </div>
      </form>
    </div>
  </section>
